<% provide(:title, "About Us")%>
<h1>About Me</h1>
<p>
  My Name is Heaven Wesker<br>
  <ol>
    <li><a href="https://github.com/HeavenWesker">Github Page</a>.</li>
    <li><a href="Https://twitter.com/HeavenWesker">Twitter</a>.</li>
  </ol>
</p>
