<li>
  <%= gravatar_for user, size: 40 %>
  <%= link_to user.name, user %>
  <% if signed_in? && current_user.admin? && !current_user?(user) %>
    | <%= link_to 'delete', user, method: 'delete', data: { confirm: "Are you sure?"} %>
  <% end %>
</li>
